.markdown h1 {
    padding-left: 10px;
    font-size: 18px;
    color: rgb(34, 34, 34);
    line-height: 1.8em;
    letter-spacing: 0em;
    border-style: none none none solid;
    border-width: 1px 1px 1px 5px;
    border-color: rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0) rgb(248, 57, 41);
    border-radius: 0px;
    align-items: unset;
    background-attachment: scroll;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: auto;
    box-shadow: none;
    display: block;
    font-weight: bold;
    flex-direction: unset;
    float: unset;
    height: auto;
    justify-content: unset;
    overflow: unset;
    text-indent: 0em;
    text-shadow: none;
    transform: none;
    width: auto;
    -webkit-box-reflect: unset;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-right: 10px;
    word-spacing: 0em;
    word-break: break-word;
    text-align: left;
    text-wrap: wrap;
    visibility: visible;
}

.markdown h2 {
    color: red;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.8em;
    letter-spacing: 0em;
    padding-right: 10px;
    padding-left: 10px;
    background-attachment: scroll;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: auto;
    width: auto;
    font-size: 16px;
    word-spacing: 0em;
    word-break: break-word;
    text-align: left;
    text-wrap: wrap;
    visibility: visible;
}

.md a {
    color: rgb(18, 142, 255);
    text-decoration: none;
}

.md .link {
    color: rgb(18, 142, 255);
    text-decoration: none;
}

.md .reference-container {
    display: flex;
    font-size: 14px;
    line-height: 1.8em;
    letter-spacing: 0em;
}

.md .reference-index {
    line-height: 1.8em;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.6);
    display: inline;
    width: 3em;
    background-image: none;
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    font-size: 80%;
    font-family: ptima-Regular, Optima, PingFangSC-light, PingFangTC-light, "PingFang SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding-top: 2px;
}

.md .reference-title {
    font-family: Georgia, "Microsoft YaHei", PingFangSC-regular, serif;
    /* padding-right: .5em; */
}

.md .reference-href {
    font-family: Georgia, "Microsoft YaHei", PingFangSC-regular, serif;
}

.md blockquote {
    border-left: 3px solid #DBDBDB;
    color: rgba(0, 0, 0, 0.55);
    font-size: 15px;
    text-indent: 0;
    margin: 0;
    padding: .5em 1em .3em 1em;
}

.md strong {
    font-weight: bold;
    color: red;
}

.md u {
    text-decoration: underline !important;
    text-decoration-style: dashed !important;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px !important;
}