.markdown img {
    max-width: 100%;
    height: auto;
}

.markdown {
    font-family: "PingFang SC", "system-ui", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
    line-height: 1.6;
}

.markdown blockquote {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    background-color: rgba(106, 118, 241, 0.07);
    padding: 25px;
    align-self: flex-start;
    flex: 0 0 auto;
    visibility: visible;
}

.markdown blockquote p {
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}

.markdown>p {
    margin-top: 0px;
    margin-bottom: 24px;
}

.markdown {
    text-underline-offset: 0.1em;
}

.markdown * {
    max-width: 100% !important;
}